*{
    margin: 0% 
}

.dark-background{
    background-color:#2c3e50;
    color: white;
}
.light-backgroud{
    background-color:white;
    color: #2c3e50;
}
.green-background{
    background-color: #18bc9c;
    color: white;
}

.font-montserrat{
    font-family: Montserrat;
}
.font-lato{
    font-family: Lato;
}

.no-text-dec{
    text-decoration: none;
}

.green-font{
  color: #18bc9c;
}

.light-font{
    color: white;
}
.dark-font{
    color:#2c3e50;
}

h2{
font-size:3rem;
padding-bottom: 2rem;
}

.header{
  display: inline-flex;
  align-items: center;
  width: 92.1vw;
  flex-direction: row;
  align-content: space-between;
  padding: 2rem 3rem 2rem 3rem;
  font-weight: 700;
    /*font-weight: 700;
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 1.4% 0%;
    margin:0;
*/}

.navbar {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0% 10% 0% 25%;
}
.navbar li{
    padding: 0% 10%;
}

.home{
    font-size: 2em;
    padding: 0% 5%;
}

.profile_section, .portfolio_section, .about-section, .contact_section, .ftr , .ftr container{
  display: flex;
  width: 99.1vw;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  text-align: center;
}

.subtittle{
    font-weight: 300;
    margin: 0%;
    font-size: 1.75rem;
    padding-bottom: 7vw;
    padding-top: 0.75vw;
}

.fontTittle{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 4.75em;
    font-weight: 700;
}
.star-dark::after{
    background-color: white;
    color:#2c3e50;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0.20em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
}

.star-light::after{
    background-color: #18bc9c;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0.20em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    color: white;
}

hr.star-light, hr.star-dark{
    position: relative;
    max-width: 15rem;
    text-align: center;
    border: none;
    width: 15rem;
    border-top: solid .25rem;
    max-height: 2rem;
}


.portfolio_section container{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0vw 7.5vw 5vw 7.5vw;
}

.images-portfolio, .ftr container{
  flex-basis: 25.6vw;
  padding: 0.95rem;
}

.about-section container{
  flex-wrap: wrap;
}

.about-text{
    text-align: left;
    font-weight: 100;
    line-height: 2rem;
    width: 25vw;
    font-size: 1.19rem;
    display: inline-flex;
    padding-right: 3vw;

}
.icon-download::before{
  content: "\f019";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 1vw;
}

.btn-about{
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
  display: flex;
  margin-top: 2rem;
  background-color: #18bc9c;
  color: #ffffff;
  border-radius: 0.25rem;
  border: 2px solid #ffffff;
  margin-bottom: 5vw;
}

.btn-about:hover{
  background-color: #ffffff;
  color: #2c3e50;
  transition: color .15s ease-in-out,background-color .15s ease-in-out;
}

.contact_section form{
  width: 54vw;
}

.contact_section{
  text-align: left;
}

.frm{
  border:none;
  border-bottom: 1px solid #2125291e;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 2vw;
  margin-top: 2.5vw;
  width: 54vw;
}

.msgfrm{
  padding-bottom: 14vw;
  margin-bottom: 1.5vw;
}

.btnfrm{
padding: 1.25rem 1.8rem 1.25rem 1.8rem;
font-size: 1.25rem;
border: none;
border-radius: .25rem;
margin-bottom: 6rem;
}

.ftr{
  display: inline-flex;
  align-items: flex-start;
  padding-top: 6rem;
  padding-bottom: 3rem;
  flex-direction: row;
  justify-content: space-evenly;
}


.ftr p{
  font-size: 1.2rem;
  font-weight: 400;
}

.ftr h3{
  font-size: 1.5rem;
  padding-bottom: 2vw;
}

.ftr ul{
  padding-left: 0%;
  display: inline-flex;
}

.btn-ftr{
  list-style: none;
  border: 2px solid #ffffff;
  border-radius: 100%;
  margin-left: 0.8vw;
  padding: 0.5rem 0.7rem 1rem 0.7rem;
  
}
.btn-ftr::before{
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  font-family: "Font Awesome 5 Brands";;
  font-size: 1.25rem;
  color: white;
  
}
.fb::before{
  margin: 1rem 0.5rem 1rem 0.5rem;
  content: '\f39e';
}
.gplus::before{
  margin: 0.5rem 0rem 0rem 0rem;
  content: "\f0d5";
}

.twitter::before{
  content: "\f099";
}
.linked::before{
  content: "\f0e1";
}
.dribble::before{
  content: "\f17d";
}