body{
    margin: 0% 
}

.header{
    font-family: Montserrat;
    font-weight: 700;
    background-color: #2c3e50;
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 1.4% 0%;
    margin:0;
}

.navbar {
    list-style: none;
    display: inline-flex;
    padding: 0% 10% 0% 30%;
}
.navbar li{
    padding: 0% 10%;
}

.navbar-first{
    font-size: 2em;
    padding: 0% 5%;
}

header a{
    text-decoration: none;
    color: white;
}

section{
    background-color: #18bc9c;
    padding-top: 10%;
    padding-bottom: 25.3%; 
    position: relative;
}

section p:first-child{
    position: absolute;
    color: white;

}

.profileimg{
    position: absolute;
    left: 43.3%;
    top: 12.8%;

}