.dark-background{
    background-color:#2c3e50;
    color: white;
}
.light-backgroud{
    background-color:white;
    color: #2c3e50;
}
.green-background{
    background-color: #18bc9c;
    color: white;
}

.font-montserrat{
    font-family: Montserrat;
}
.font-lato{
    font-family: Lato;
}

.no-text-dec{
    text-decoration: none;
}

.light-font{
    color: white;
}
.dark-font{
    color:#2c3e50;
}

h2{
font-size:3rem;
padding-bottom: 2rem;
}

*{
    margin: 0% 
}

.header{
    font-weight: 700;
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 1.4% 0%;
    margin:0;
}

.navbar {
    list-style: none;
    display: inline-flex;
    padding: 0% 10% 0% 30%;
}
.navbar li{
    padding: 0% 10%;
}

.home{
    font-size: 2em;
    padding: 0% 5%;
}

.profile_section{
    padding-top: 5%;
    padding-bottom: 6rem; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    width: 70%;
}

.subtittle{
    font-weight: 300;
    margin: 0%;
    font-size: 1.7rem;
}

.fontTittle{
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    font-size: 4.75em;
    font-weight: 700;
}
.star-dark::after{
    background-color: white;
    color:#2c3e50;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0.20em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
}

.star-light::after{
    background-color: #18bc9c;
    position: relative;
    top: -.8em;
    display: inline-block;
    padding: 0.20em;
    content: '\f005';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 2em;
    color: white;
}

hr.star-light, hr.star-dark{
    position: relative;
    max-width: 15rem;
    margin: 0% 37.5%;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    max-height: 2rem;
}
hr.star-dark{
    margin-left: 40.5%;
}


.portfolio_section{
    padding: none;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 5%;
    padding-bottom: 5%; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 88%;
    font-weight: 700;
}

.images-portfolio{
    max-width: 22rem;
    max-height: 22rem;
    padding: 1rem;
    width: auto;
    height: auto;
}

.about-section{
    padding-top: 5%;
    padding-bottom: 5%; 
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    width: 70%;
    font-weight: 700;
    position: relative;
}

.about-text{
    text-align: left;
    font-weight: 100;
    line-height: 2rem;
    width: 36%;
    
    font-size: 1.2rem;
    display: inline-flex;
    padding-right: 3%;
}

.btn-about{
    display: flex;
    margin-left: 50%;
    margin-top: 3rem;
    background-color: #2c3e50;
    color: #2c3e50;
    width: 5%;
    height: 5%;
    border: 100px;
}

.contact_section{
    width: 100%;

}